{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body -%}
    {{ parent() }}
    <h1>Dodaj przepis</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('recipe') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
