<a class="btn" href="{{ path('recipe_show', {'id': recipe.id}) }}">Pokaż przepis</a>
<a class="btn" href="{{ path('recipe_edit', {'id': recipe.id}) }}">Edytuj przepis</a>
{{ form(recipe_delete_form) }}