{% if is_granted("ROLE_USER") and (recipe.author == user) %}
<a href="{{ path('recipe_edit', {'id': recipe.id}) }}"><button type='submit'>Edytuj przepis</button></a>

{{ form(recipe_delete_form) }}
{% endif %}