{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% for entity in entities %}
        {{ include('AppBundle:Recipe:recipe.html.twig', {'ingredients': entity.ingredients}) }}
        <hr>
    {% else %}
        <p>You have no recipes</p>
    {% endfor %}
{% endblock %}
