{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3>Przepisy użytkownika {{ username }}</h3>
    {% for recipe in recipes %}
        {{ include('AppBundle:Recipe:recipe.html.twig', {'ingredients': recipe.ingredients}) }}
        <hr>
    {% else %}
        <p>Nie ma jeszcze żadnych przepisów :(</p>
    {% endfor %}
{% endblock %}
