{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {% for recipe in recipes %}
        {{ include('AppBundle:Recipe:recipe.html.twig', {'ingredients': recipe.ingredients}) }}
        <hr>
    {% else %}
        <p>Nie ma jeszcze żadnych przepisów :(</p>
    {% endfor %}
{% endblock %}
