{% extends '::base.html.twig' %}

{% block body %}
    {{ parent() }}

<div class="about">
    <h3>O Autorce</h3>
    <p>Nazywam się Magdalena Kuncicka i zaczynam swoją przygodę z programowaniem. Uwielbiam gotować,
        szczególnie zdrowe i smaczne dania - stąd w gronie najbliższych pojawił się pomysł strony służącej wymianie
    przepisów.</p>
    <p>Prywatnie: jachtowy sternik morski, instruktor żeglarstwa, z wykształcenia geolog. Aktualnie początkujący back-end developer w PHP.
        Nie wyobrażam sobie sezonu bez żeglarstwa, lata bez kąpieli w jeziorze, mazur bez kufla piwa, wystawnej kolacji bez czerwonego,
        wytrawnego wina, a kuchni bez blendera.</p>
    <h3>Cel powstania strony</h3>
    <p>Pomysł na Cookway'a pojawił się w gąszczu wielu innych pomysłów na prostą aplikację webową.
        Tworzenie strony rozpoczęłam w trakcie warsztatów na bootcampie z programowania w PHP. Jako finalny projekt
        mieliśmy możliwość stworzenia aplikacji własnego pomysłu, a że takowy pojawił się już nieco wcześniej
        z ochotą przystąpiłam do działnia. W Wasze ręce oddaję podstawową, pierwszą i jeszcze bardzo ubogą wersję
        serwisu gromadzącego przepisy. Jego koncepcja ma docelowo podążać za trendem portali społecznościowtych
        i stać się miejscem wymiany przepisów między osobami, dla których gotowanie to nie tylko przymusowa czynność domowa,
         lecz przyjemność, zaś dla osób chcących szybko i sprawnie ugotować posiłek dawać łatwy dostęp do dużej bazy przepisów.
        Mam nadzieję że z czasem będę rozwijać stronę dodając coraz to nowe i przydatne
        elementy, które sprawią, że planowanie szaleństw kulinarnych stanie się dla wielu z Was dużo prostsze i przyjemniejsze.</p>
</div>

    <div>
        <h3>Kontakt</h3>
        <p>Jeśli masz pomysł co ulepszyć na stronie, lub z jakiegoś powodu chcesz się ze mną skontaktować napisz maila na adres:
            mkuncicka@gmail.com </p>
    </div>

{% endblock %}
