<div class="category">
    <h2>{{ category.name }}</h2>
    <a href="{{ path("category_edit", {'id': category.id}) }}">edytuj</a>
    <a href="{{ path("category_delete", {'id': category.id}) }}">usuń</a>
</div>
