{% extends '::base.html.twig' %}

{% block body %}
    {{ include("AppBundle:Recipe:recipe.html.twig", {'entity': recipe})}}
    <h1>Ingredient creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ingredient') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
