{% extends '::base.html.twig' %}

{% block body %}
    {{ include("AppBundle:Recipe:recipe.html.twig", {'recipe': recipe})}}
    <h3>Dodawanie składników</h3>
<div class="form">
{{ form(form) }}
</div>
{% endblock %}
