.container {
    margin-left: 15%;
    margin-right: 20%;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

#logged {
    float: right;
    margin-right: 5%;
    color: black;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: #0E4D00;
}

a:hover {
    background-color: #C1F0B6;
}

.top_menu {

    margin-right: -10px;
    margin-top: -10px;
    width: 100%;
    padding-top: 5px;
    padding-right: 3%;
    position: fixed;
}

.menu {
    position: fixed;
    padding-left: 3%;
    margin-left: -10px;
    background-color: white;
}

.menu li {
    display: inline-block;
    border: black 1px solid;
    padding: 3px;
    background-color: #0E4D00;
}


.menu a {
    color: white;
}
.menu li:hover {
    background-color: #0b3d00;
}

.menu li a:hover {
    background-color: #0b3d00;
}

.left_menu {
    margin-top: 5%;
    padding-right: 2%;
    float: left;
    width: auto;
    height: 100%;
}

.left_menu li {
    display: block;
    margin-top: 5%;
}

form button:hover {
    background-color: #C1F0B6;
}

.btn {
    border: black 1px solid;
    background-color: darkgray;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    text-decoration: none;
    color: black
}



.date {
    float: right;
}

.photo {
    margin-top: 2%;
    float: left;
    width: 20%;
}

.header_recipe {
    margin-left: 3%;
    display: inline-block;
}

.form input {
    display: block;
    margin-top: 5px;
    width: 30%;
}

.form textarea {
    margin-top: 5px;
    display: block;
    width: 30%;
    height: 10%;
}

.form button {
    display: inline-block;
}

#remember_me {
    display: inline;
    width: auto;
}

#submit_regist, #_submit, button {
    width: 13%;
}

#recipe_author {

}

.category {
    padding-top: 0;
    margin-top: 0;
    font-size: 12px;
}

.comment {
    background-color: #C1F0B6;
    /*border: #0E4D00 solid 1px;*/
}

#comments_title {
    border-top: dashed #C1F0B6 1px;
    margin-top: 20px;
    padding-top: 10px;
}

.recipe_menu button {
    display: inline;
}


.logo {
    width: 15%;
    height: 15%;
    float: left;
    margin-right: 20px;
}